# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserdata

# Swift Package Manager
Packages/
.swiftpm/

# CocoaPods (ถ้ามี)
Pods/
Podfile.lock
.DS_Store
meow.xcodeproj/project.xcworkspace/xcuserdata/paponsaktemsirisak.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
