<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8REAeasboUgx3lPDL958c6Zx8w4iaqUk</string>
	<key>GCM_SENDER_ID</key>
	<string>494311796014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sin.meow</string>
	<key>PROJECT_ID</key>
	<string>cat-finder-43f97</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-finder-43f97.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494311796014:ios:b5f092e09426a7a7ecdebf</string>
</dict>
</plist>